<div class="header">
    <div class="sale"><p>Time To Shop! EXTRA 30% OFF Holiday Deals For You!</p></div>
    <div class="tt">
        <div class="help"><a href="#">HELP CENTER </a></div>
        <div class="register"><a href="#">REGISTER</a></div>
        <div class="login"><a href="#">LOGIN</a></div>
    </div>
</div>